
<html>
  <body>
    <div class="container-xxl my-5">
      <footer
        class="text-center text-lg-start text-white"
        style="background-color: #1c2331"
      >
        <section
          class="d-flex justify-content-between p-4"
          style="background-color: #6351ce"
        >
          <!-- Left -->
          {% comment %}
          <div class="me-5">
            <span>Get connected with us on social networks:</span>
          </div>
          {% endcomment %}
          <!-- Left -->

          <!-- Right -->
          {% comment %}
          <div>
            <a href="" class="text-white me-4">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="text-white me-4">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="text-white me-4">
              <i class="fab fa-google"></i>
            </a>
            <a href="" class="text-white me-4">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="text-white me-4">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="text-white me-4">
              <i class="fab fa-github"></i>
            </a>
          </div>
          {% endcomment %}
          <!-- Right -->
        </section>
        <!-- Section: Social media -->

        <!-- Section: Links  -->
        <section class="">
          <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
              <!-- Grid column -->
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <!-- Content -->
                <h6 class="text-uppercase fw-bold text-white">Company name</h6>
                <hr
                  class="mb-4 mt-0 d-inline-block mx-auto mt-1"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                />
                <p>
                  Here you can use rows and columns to organize your footer
                  content. Lorem ipsum dolor sit amet, consectetur adipisicing
                  elit.
                </p>
              </div>
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold text-white">Products</h6>
                <hr
                  class="mb-4 mt-0 d-inline-block mx-auto mt-1"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                />
                <p>
                  <a href="#!" class="text-white">MDBootstrap</a>
                </p>
                <p>
                  <a href="#!" class="text-white">MDWordPress</a>
                </p>
                <p>
                  <a href="#!" class="text-white">BrandFlow</a>
                </p>
                <p>
                  <a href="#!" class="text-white">Bootstrap Angular</a>
                </p>
              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold text-white">Useful links</h6>
                <hr
                  class="mb-4 mt-0 d-inline-block mx-auto mt-1"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                />
                <p>
                  <a href="#!" class="text-white">Your Account</a>
                </p>
                <p>
                  <a href="#!" class="text-white">Become an Affiliate</a>
                </p>
                <p>
                  <a href="#!" class="text-white">Shipping Rates</a>
                </p>
                <p>
                  <a href="#!" class="text-white">Help</a>
                </p>
              </div>
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <h6 class="text-uppercase fw-bold text-white">Contact</h6>
                <hr
                  class="mb-4 mt-0 d-inline-block mx-auto mt-1"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                />
                <p><i class="fa fa-phone mr-2"></i>+880 1234 56789</p>
                <p><i class="fa fa-envelope mr-2"></i><a href="mailto:support@yourmail.com">support@yourmail.com</a></p>
                <p><i class="fa fa-clock-o mr-1" aria-hidden="true"></i> MON - SAT 9AM TO 5PM</p>
              </div>
            </div>
          </div>
        </section>
        <div
          class="text-center p-3"
          style="background-color: rgba(0, 0, 0, 0.2)"
        >
          © 2024 Copyright
          <a style="color:#7c4dff" href="https://biraventures.com/">
            Bira Venture Pvt Ltd</a>
        </div>
        <!-- Copyright -->
      </footer>
      <!-- Footer -->
    </div>
    <!-- End of .container -->
  </body>
</html>
