<html>
    <body>
     	<!-- Header Area -->
		<header class="header" >
			<!-- Topbar -->
			{% comment %} <div class="topbar">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-5 col-12">
							<!-- Contact -->
							<ul class="top-link">
								<li><a href="#">About</a></li>
								<li><a href="#">Doctors</a></li>
								<li><a href="#">Contact</a></li>
								<li><a href="#">FAQ</a></li>
							</ul>
							<!-- End Contact -->
						</div>
						<div class="col-lg-6 col-md-7 col-12">
							<!-- Top Contact -->
							<ul class="top-contact">
								<li><i class="fa fa-phone"></i>+880 1234 56789</li>
								<li><i class="fa fa-envelope"></i><a href="mailto:support@yourmail.com">support@yourmail.com</a></li>
							</ul>
							<!-- End Top Contact -->
						</div>
					</div>
				</div>
			</div> {% endcomment %}
			<!-- End Topbar -->
			<!-- Header Inner -->
			<div class="header-inner">
				<div class="container">
					<div class="inner">
						<div class="row">
							<div class="col-lg-1 col-md-3 col-12">
								<!-- Start Logo -->
								<div class="logo">
									<a href="index.html"><img src="img/logo.png" alt="#"></a>
								</div>
								<!-- End Logo -->
								<!-- Mobile Nav -->
								<div class="mobile-nav"></div>
								<!-- End Mobile Nav -->
							</div>
							<div class="col-lg-10 col-md-9 col-12">
								<!-- Main Menu -->
								<div class="main-menu">
									<nav class="navigation">
										<ul class="nav menu">
											<li class="active"><a href="#">Home <i class="icofont-rounded-down"></i></a>
												<ul class="dropdown">
													<li><a href="index.html">Home Page 1</a></li>
												</ul>
											</li>
                                            <li><a href="#">Property <i class="icofont-rounded-down"></i></a>
												<ul class="dropdown">
													<li><a href="#">New Assesment</a></li>
													<li><a href="#">Search Property Id/ Holding</a></li>
													<li><a href="#">View Property Details</a></li>
													<li><a href="#">View Property Demand Details</a></li>
													<li><a href="#">View Last Payment Details</a></li>
													<li><a href="#">Pay Property/Holding Tax</a></li>
												</ul>
											</li>
                                            <li><a href="#">Waste <i class="icofont-rounded-down"></i></a>
												<ul class="dropdown">
													<li><a href="#">Search Consumer Details</a></li>
													<li><a href="#">View Consumer Details</a></li>
													<li><a href="#">View Last Payment Details</a></li>
													<li><a href="#">Pay Soild Waste Charge</a></li>
												</ul>
											</li>
                                            <li><a href="#">Water <i class="icofont-rounded-down"></i></a>
												<ul class="dropdown">
													<li><a href="#">Search Consumer Details</a></li>
													<li><a href="#">View Consumer Details</a></li>
													<li><a href="#">View Last Payment Details</a></li>
													<li><a href="#">Pay Water User Charge</a></li>
												</ul>
											</li>
                                            {% comment %} <li><a href="#">Shop <i class="icofont-rounded-down"></i></a>
												<ul class="dropdown">
												<li><a href="#">Search Consumer Details</a></li>
													<li><a href="#">View Consumer Details</a></li>
													<li><a href="#">View Last Payment Details</a></li>
													<li><a href="#">Pay Water User Charge</a></li>
												</ul>
											</li>
                                            <li><a href="#">Trade <i class="icofont-rounded-down"></i></a>
												<ul class="dropdown">
													<li><a href="#">Search Consumer Details</a></li>
													<li><a href="#">View Consumer Details</a></li>
													<li><a href="#">View Last Payment Details</a></li>
													<li><a href="#">Pay Water User Charge</a></li>
												</ul>
											</li> {% endcomment %}
											<li><a href="#">Grievances </a></li>
											{% comment %} <li><a href="#">Pages <i class="icofont-rounded-down"></i></a>
												<ul class="dropdown">
													<li><a href="404.html">404 Error</a></li>
												</ul>
											</li>
											<li><a href="#">Blogs <i class="icofont-rounded-down"></i></a>
												<ul class="dropdown">
													<li><a href="blog-single.html">Blog Details</a></li>
												</ul>
											</li> {% endcomment %}
										<li><a href="contact.html">Know Your Tax Collector</a></li>
										</ul>
									</nav>
								</div>
								<!--/ End Main Menu -->
							</div>
							<div class="col-lg-1 col-12">
								<div class="get-quote">
									<a href="appointment.html" class="btn">Log In / Sign In</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Header Inner -->
		</header>
		<!-- End Header Area -->
    </body>
</html>